@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");

:root {
	--font-body:  'Montserrat Alternates', sans-serif;
	--font-mono:  'Montserrat Alternates', sans-serif;
	--color-bg-0: #B4BF5E;
	--color-bg-1: #CAD959;
	--color-bg-2: #B4BF5E;
	--color-theme-1: #252617;
	--color-theme-2: #34401A;
	--color-text: #64732F;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
}

:root {
	/* Step -2: 12.5px → 12.8px */
	--step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
	/* Step -1: 15px → 16px */
	--step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
	/* Step 0: 18px → 20px */
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
	/* Step 1: 21.6px → 25px */
	--step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
	/* Step 2: 25.92px → 31.25px */
	--step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
	/* Step 3: 31.104px → 39.0625px */
	--step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
	/* Step 4: 37.3248px → 48.8281px */
	--step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
	/* Step 5: 44.7898px → 61.0352px */
	--step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  }

body {
	min-height: 100vh;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: var(--step-5);
	text-align: center;
	font-weight: 300;
}

h2 {
	font-size: var(--step-4);
	text-align: center;
	font-weight: 200;
}

h3 {
	font-size: var(--step-3);
	text-align: center;
	font-weight: 200;
}

h4 {
	font-size: var(--step-2);
	text-align: center;
	font-weight: 300;
}

h5 {
	font-size: var(--step-1);
	text-align: center;
	font-weight: 200;
}
 
.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	/* h1 {
		font-size: 2.4rem;
	} */
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
